aniso8601==2.0.1
appdirs==1.4.3
asn1crypto==0.22.0
astroid==1.6.1
Babel==2.4.0
beautifulsoup4==4.6.0
blinker==1.3
broadlink==0.9
chardet==3.0.4
click==6.7
colorama==0.3.7
cryptography==1.9
cupshelpers==1.0
cycler==0.10.0
dae==0.1
decorator==4.1.1
defer==1.0.6
dlib==19.9.0
face-recognition==1.2.1
face-recognition-models==0.3.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-RESTful==0.3.6
gevent==1.1.2
greenlet==0.4.11
html5lib==0.999999999
httpie==0.9.8
idna==2.5
imutils==0.4.6
iotop==0.6
isort==4.3.4
itsdangerous==0.24
jieba==0.36.2
Jinja2==2.9.6
keyring==10.4.0
keyrings.alt==2.2
lazy-object-proxy==1.3.1
lxml==3.8.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.0.0
mccabe==0.6.1
notify2==0.3
numexpr==2.6.1
numpy==1.12.1
olefile==0.44
opencv-contrib-python==3.4.0.12
opencv-python==3.4.0.12
paho-mqtt==1.3.1
pandas==0.20.3
PDF==1.0
pexpect==4.2.1
Pillow==4.1.1
psutil==5.0.1
PyCRC==1.21
pycrypto==2.6.1
pycryptodome==3.4.11
pycuda==2016.1.2
pycups==1.9.73
Pygments==2.2.0
pygobject==3.22.0
pyinotify==0.9.6
pylint==1.8.2
Pynq==0.2.0
pyOpenSSL==16.2.0
pyparsing==2.1.10
pyPdf==1.13
PyPDF2==1.26.0
pysmbc==1.0.15.6
python-apt==1.4.0b3+b1
python-dateutil==2.6.0
python3-xlib==0.15
pytools==2016.2.6
pytz==2017.2
pyxdg==0.25
redis==2.10.6
reportlab==3.4.0
requests==2.12.4
safeeyes==2.0.0
scipy==0.18.1
SecretStorage==2.3.1
simplejson==3.11.1
six==1.11.0
SQLAlchemy==1.2.4
tables==3.3.0
tencent-ci-sdk==0.1
TencentYoutuyun==1.0.0
ubuntu-drivers-common==0.0.0
urllib3==1.19.1
vboxapi==1.0
webencodings==0.5
websocket-client==0.48.0
websocket-server==0.4
Werkzeug==0.15.3
wrapt==1.10.11
xkit==0.0.0
xlrd==1.0.0
